// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

 $primary: #181818;
 $secondary:#8758FF ;
$danger: #5CB8E4;
$perry:#EB455F;
$merry:#FCFFE7;


// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;
