@import "variables";
@import "base";

body {
  height: 100vh;
  background-image: url(../Images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
section {
  li {
    list-style: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding-top: 80px;

  li {
    border-bottom: 1px solid $danger;
    width: 100%;
    list-style: none;
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
  }
}
.headings {
  display: none;
}
.navbar {
  display: none;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;

  font-size: 1.3rem;
  color: $merry;
  text-shadow: 0 15px 25px $perry;
}
.social {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 160px;
  margin-left: 45px;

  li {
    margin: 30px;
  }
  a {
    color: $primary;
  }
}
section{
  
.infobar {
 margin-bottom: 250px;
  background-color: $primary;
 height: 30vh;
  width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 

  li {
    list-style: none;
  }
  .Me {
    
    font-size: 7rem;
        color: $danger;
        font-family: "Monoton";
        margin-left: 15px;
        padding-top: 10px;
        
        animation: rubberband 3s infinite ease-out;
        text-shadow: 0 15px 25px $perry;
  }
  @keyframes rubberband {
    0% {
      transform: scaleX(1px) scaleY(1);
    }
    40% {
      transform: scaleX(1.12px) scaleY(0.75);
    }
    55% {
      transform: scaleX(0.85) scaleY(1);
    }
    65% {
      transform: scaleX(1.09) scaleY(0.85);
    }
    75% {
      transform: scaleX(0.9) scaleY(1);
    }
    90% {
      transform: scaleX(1.05) scaleY(0.95);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }

  .me {
    color: $merry;
    font-size: 2rem;
    margin-left: 20px;
    padding-bottom: 10px;
    
    font-family: "Open Sans", sans-serif;
  }

  .wd {
    color: $secondary;
        margin-left: 12px;
        font-family: "Open Sans", sans-serif;
  }
}
}
.backtomain a {
  color: $merry;
  position: fixed;
  top: 10px;
  right: 10px;
  text-shadow: none;
}

li a:hover {
  color: $perry;
  cursor: cell;
}

@media screen and (min-width: 1025px) {


    button{display: none;}
  .headings{
    display: block;
  }

  span {
    display: none;
  }
  body {
    background-image: url(../Images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 280px;
    width: 25%;
    margin-left: 200px;
    font-size: 1.8rem;
    color: $merry;
    text-shadow: 0 15px 25px $perry;
    p {
      color: rgba(255, 140, 140, 0.616);
      margin-left: 10px;
      margin-top: 30px;
      font-weight: 400;
      font-family: "Open Sans";
      text-decoration: overline;
    }
    h1 {
      
      font-size: 5rem;
    }
    b {
     
      font-size: 4.5rem;
    }
    h2 {
      
      font-size: 5rem;
    }
    .font {
      font-family: "Monoton";
      font-size: 4.5rem;
    }
  }
  h1:hover {
    animation: rubberband 0.6s ease-out;
    color: $secondary;
    cursor: crosshair;
  }
  h2:hover {
    animation: rubberband 0.6s ease-out;
    color: $secondary;
    cursor: crosshair;
  }

  b:hover {
    animation: rubberband 0.6s ease-out;
    cursor: crosshair;
    color: $secondary;
  }
  @keyframes rubberband {
    0% {
      transform: scaleX(1px) scaleY(1);
    }
    40% {
      transform: scaleX(1.12px) scaleY(0.75);
    }
    55% {
      transform: scaleX(0.85) scaleY(1);
    }
    65% {
      transform: scaleX(1.09) scaleY(0.85);
    }
    75% {
      transform: scaleX(0.9) scaleY(1);
    }
    90% {
      transform: scaleX(1.05) scaleY(0.95);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }

  section {
    li {
      list-style: none;
    }
    position: fixed;
    top: 0;
    background-color: $primary;
    height: 100vh;
    width: 130px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .links {
    display: block;
    li {
      list-style: none;
      margin-bottom: 20px;
      border-bottom: 1px solid $secondary;
      width: 100%;
      padding-left: 20px;
    }
    a {
      color: $danger;
      margin-right: 15px;
    }
  }
  .infobar {
    display: block; 
    
    .Me {
      font-size: 7rem;
      color: $danger;
      font-family: "Monoton";
      margin-left: 5px;
    }
    .me {
      color: $merry;
      font-size: 2rem;
      margin-left: 12px;
      padding-bottom: 10px;
      font-family: "Open Sans", sans-serif;
    }

    .wd {
      color: $secondary;
      margin-left: 5px;
      font-family: "Open Sans", sans-serif;
    }
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $danger;
    font-family: "Open Sans", sans-serif;

    &:hover {
      color: $merry;
    }
  }
  .social {
    display: flex;
    margin-left: 10px;
    margin-bottom: 35px;
    li {
      margin: 5px;
    }
    a {
      color: $danger;
    }
  }
}
